

body
{
  background-color: black;
}
    
h1 {
    color: white;
    text-align: center;
    }
    
p
{
    font-family: verdana;
    font-size: 20px;
}

#logo
{
    width: 150px;
    height: 60px;
}

.card{
  width: 300px;
  height: 300px;
  font-size: 15px;
  background-color: white;
  
}

.sectionSep{
  margin: 15rem;
}
.flex-container{
  display: flex;
  flex-wrap:nowrap
}

.flex-container > div{
  width: 300px;
  margin: 100px;
  text-align: center;

}
#card1{
  flex:
}
