<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h1>What's new!</h1>

<p>We have redesigned our front end to make it more convenient for our users to find the most relevant information towards their repository's health</p>
<p>As you may have notice we added in a new card view to help you better visualize your repository health!</p>
<p>You can toggle between card view and table view using the two buttons on the right of the page.</P>
<p>In card view we have separated the data into small cards to help you visualize the health of your repository.</p>
<p>We have also added in a new metric called change request which details the amount of times a pull request was issued for the repository.</p>
<p><h1>Metrics that we used for the project</h1></p>

<h1>How we gather the metrics for our project</h1>
<p><h1>How we locate the metrics</h1></p>