{% if repos %}
    <div class="container-fluid mt-4">
        <div class="d-flex col justify-content-end m-2">
            <div class="btn-group " role="group" aria-label="Card/Table Toggle buttons">
                <button type="button" class="btn btn-light btn-outline-dark"><a class="link-dark text-decoration-none" href="{{ url_for('repo_table_view') }}">Table View</a></button>
                <button type="button" class="btn btn-light btn-outline-dark">Card View</button>

            </div>
        </div>
        <div class="row justify-content-center">
            {% for repo in repos %}
            <!-- Get rid of 2 empty repos -->
            {% if loop.index > 2 %}
            <div class="row row-cols-1 col-auto g-3">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body" style="color: black;">
                            <a href="{{ url_for('repo_repo_view', id=repo.repo_id) }}"><h5 class="card-title">{{ repo.repo_name }}</h5></a>
                            <p class="card-text">All Time Commits: {{ repo.commits_all_time|int }}</p>
                            <p class="card-text">All Time Issues: {{ repo.issues_all_time|int }}</p>
                            <p class="card-text">Repository Status: {{ repo.repo_status }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Repository ID: {{ repo.repo_id }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% elif query_key %}
    <h1>Your search did not match any repositories</h1>
{% else %}
    <h1>Unable to load repository information</h1>
{% endif %}
